In [1]:
import pandas as pd
import numpy as np
import math 
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme(color_codes=True)
sns.set_style("darkgrid")

In [2]:
submissions_data = pd.read_csv('/home/mikhail/Development/asrd/examples_data/full_isoterms.srb',
                                encoding='windows-1251', header=None)
submissions_data.head(40)

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,SAMPLE,01.01.03 01:08:15,50/50,Маня,4.00,29.06.2015 17:33:54,0.0723,0,765,765.000000,...,08.05.2015 14:07:38,0.000000,60,0,0,293.16,273.16,1,3.0,1
1,POINT,01.01.2003 1:11:59,01.01.2003 1:23:55,0.06,0.06,226,81.0000,1378,390,-0.001729,...,266.127,0.009506,0,0,0,1.00,1.00,1,NaN,0
2,POINT,01.01.2003 1:27:38,01.01.2003 1:37:42,0.09,0.09,224,118.0000,1871,387,0.001373,...,267.67,0.010730,0,0,0,2.00,1.00,1,NaN,0
3,POINT,01.01.2003 1:41:25,01.01.2003 1:51:06,0.15,0.15,223,104.0000,2157,401,0.000407,...,256.709,0.012920,0,0,0,3.00,1.00,1,NaN,0
4,POINT,01.01.2003 1:54:50,01.01.2003 2:05:35,0.2,0.20,222,81.0000,1590,389,-0.000203,...,256.265,0.014646,0,0,0,4.00,1.00,1,NaN,0
5,POINT,29.06.2015 12:26:05,29.06.2015 12:35:40,0.3,0.30,223,81.0000,2205,406,0.000661,...,212.358,0.019301,0,0,0,5.00,1.00,1,NaN,0
6,POINT,29.06.2015 12:39:24,29.06.2015 12:49:36,0.4,0.40,222,80.0000,2090,403,0.000661,...,183.534,0.025110,0,0,0,6.00,1.00,1,NaN,0
7,POINT,29.06.2015 12:53:19,29.06.2015 13:06:04,0.5,0.50,220,100.0000,2259,396,-0.000102,...,158.704,0.033454,0,0,0,7.00,1.00,1,NaN,0
8,POINT,29.06.2015 13:10:06,29.06.2015 13:20:01,0.6,0.60,229,80.0000,1696,395,0.002340,...,134.542,0.044382,0,0,0,8.00,1.00,1,NaN,0
9,POINT,29.06.2015 13:24:17,29.06.2015 13:37:07,0.7,0.70,227,96.0000,1763,413,-0.001272,...,113.827,0.064481,0,0,0,9.00,1.00,1,NaN,0
10,POINT,29.06.2015 13:40:56,29.06.2015 13:53:29,0.8,0.80,224,81.0000,1632,402,0.000051,...,82.0026,0.100880,0,0,0,10.00,1.00,1,NaN,0
11,POINT,29.06.2015 13:57:15,29.06.2015 14:06:28,0.9,0.90,223,81.0000,1759,410,0.001017,...,47.2706,0.214660,0,0,0,11.00,1.00,1,NaN,0
12,POINT,29.06.2015 14:10:12,29.06.2015 14:20:47,0.93,0.93,221,81.0000,1609,401,0.001068,...,34.2737,0.313260,0,0,0,12.00,1.00,1,NaN,0
13,POINT,29.06.2015 14:24:30,29.06.2015 14:33:36,0.95,0.95,220,81.0000,1353,428,0.000254,...,24.8692,0.425170,0,0,0,13.00,1.00,1,NaN,0
14,POINT,29.06.2015 14:37:20,29.06.2015 14:45:05,0.96,0.96,219,81.0000,1435,382,0.000356,...,19.819,0.528020,0,0,0,14.00,1.00,1,NaN,0
15,POINT,29.06.2015 14:48:48,29.06.2015 14:56:39,0.97,0.97,217,81.0000,1599,400,-0.000966,...,15.0014,0.732370,0,0,0,15.00,1.00,1,NaN,0
16,POINT,29.06.2015 15:00:22,29.06.2015 15:08:01,0.98,0.98,224,81.0000,1235,401,-0.000509,...,9.22205,1.095200,0,0,0,16.00,1.00,1,NaN,0
17,POINT,29.06.2015 15:13:48,29.06.2015 15:16:52,0.98,0.98,223,81.0000,1336,402,0.002441,...,10.0674,1.095200,0,0,0,17.00,1.00,1,NaN,1
18,POINT,29.06.2015 15:27:40,29.06.2015 15:30:44,0.97,0.97,222,81.0000,1599,405,-0.001170,...,16.5237,0.732370,0,0,0,18.00,1.00,1,NaN,1
19,POINT,29.06.2015 15:41:31,29.06.2015 15:44:44,0.96,0.96,221,81.0000,1623,407,0.001577,...,22.0538,0.528020,0,0,0,19.00,1.00,1,NaN,1
20,POINT,29.06.2015 15:55:31,29.06.2015 15:58:50,0.95,0.95,220,80.0000,1520,408,0.000966,...,27.2463,0.425170,0,0,0,20.00,1.00,1,NaN,1
21,POINT,29.06.2015 16:11:57,29.06.2015 16:15:30,0.93,0.93,228,81.0000,1638,423,0.000458,...,37.0873,0.313260,0,0,0,21.00,1.00,1,NaN,1
22,POINT,29.06.2015 16:26:23,29.06.2015 16:30:05,0.9,0.90,225,81.0000,1969,418,0.000102,...,50.5224,0.214660,0,0,0,22.00,1.00,1,NaN,1
23,POINT,29.06.2015 16:40:58,29.06.2015 16:44:27,0.8,0.80,223,81.0000,1804,418,0.001322,...,90.0049,0.100880,0,0,0,23.00,1.00,1,NaN,1
24,POINT,29.06.2015 16:57:01,29.06.2015 17:00:55,0.7,0.70,222,97.0000,1761,415,0.001272,...,119.425,0.064481,0,0,0,24.00,1.00,1,NaN,1
25,POINT,29.06.2015 17:14:16,29.06.2015 17:16:53,0.6,0.60,226,105.0000,1678,412,0.000458,...,141.268,0.044382,0,0,0,25.00,1.00,1,NaN,1
26,POINT,29.06.2015 17:29:44,29.06.2015 17:33:44,0.5,0.50,223,80.0000,1917,404,0.000865,...,157.203,0.033454,0,0,0,26.00,1.00,1,NaN,1
27,SAMPLE,01.01.03 00:59:05,50/50 С-60,Женя,4.00,01.01.2003 7:05:23,0.0720,0,765,765.000000,...,08.05.2015 14:07:38,0.000000,60,0,0,293.16,273.16,1,3.0,1
28,POINT,01.01.2003 1:07:51,01.01.2003 1:20:22,0.06,0.06,232,113.0000,2048,400,-0.001933,...,269.293,0.009506,0,0,0,1.00,1.00,1,NaN,0
29,POINT,01.01.2003 1:24:05,01.01.2003 1:34:49,0.09,0.09,228,103.0000,1808,404,0.000559,...,267.103,0.010730,0,0,0,2.00,1.00,1,NaN,0
30,POINT,01.01.2003 1:41:40,01.01.2003 1:51:54,0.15,0.15,225,81.0000,2070,414,-0.000916,...,255.046,0.012920,0,0,0,3.00,1.00,1,NaN,0
31,POINT,01.01.2003 1:55:37,01.01.2003 2:04:47,0.2,0.20,224,80.0000,1963,415,-0.002391,...,238.393,0.014646,0,0,0,4.00,1.00,1,NaN,0
32,POINT,01.01.2003 2:09:21,01.01.2003 2:19:00,0.3,0.30,222,113.0000,1991,415,0.001984,...,207.773,0.019301,0,0,0,5.00,1.00,1,NaN,0
33,POINT,01.01.2003 2:22:44,01.01.2003 2:34:29,0.4,0.40,221,104.0000,1684,415,0.001678,...,179.695,0.025110,0,0,0,6.00,1.00,1,NaN,0
34,POINT,01.01.2003 2:38:21,01.01.2003 2:49:28,0.5,0.50,219,80.0000,2044,403,-0.000203,...,153.482,0.033454,0,0,0,7.00,1.00,1,NaN,0
35,POINT,01.01.2003 2:53:11,01.01.2003 3:03:40,0.6,0.60,215,99.0000,1811,411,-0.000305,...,130.423,0.044382,0,0,0,8.00,1.00,1,NaN,0
36,POINT,01.01.2003 3:08:29,01.01.2003 3:19:23,0.7,0.70,226,81.0000,1871,410,0.001322,...,104.455,0.064481,0,0,0,9.00,1.00,1,NaN,0
37,POINT,01.01.2003 3:23:13,01.01.2003 3:33:20,0.8,0.80,223,81.0000,1799,424,-0.000661,...,77.459,0.100880,0,0,0,10.00,1.00,1,NaN,0
38,POINT,01.01.2003 3:37:04,01.01.2003 3:47:15,0.9,0.90,222,81.0000,1580,430,0.001119,...,43.8555,0.214660,0,0,0,11.00,1.00,1,NaN,0
39,POINT,01.01.2003 3:50:58,01.01.2003 4:00:06,0.93,0.93,221,93.0000,1709,427,-0.000153,...,31.6424,0.313260,0,0,0,12.00,1.00,1,NaN,0

In [3]:
cols = ["Target", "start time", "finish_time", "P/P0", "P/P0_1", "?", 
        "peak_start", "peak_finish", "pick_max", "??", "0", "pick_amplitude", "S_of_pick",
        "grad_koeff", "idk", "idk1", "idk2", "№_1", "1", "1_1", "NaN", "0_1"]

submissions_data = pd.read_csv('/home/mikhail/Development/asrd/examples_data/full_isoterms.srb',
                                encoding='windows-1251', header=None)
submissions_data.columns = cols

In [4]:
submissions_data.head(40)

,Target,start time,finish_time,P/P0,P/P0_1,?,peak_start,peak_finish,pick_max,??,...,S_of_pick,grad_koeff,idk,idk1,idk2,№_1,1,1_1,NaN,0_1
0,SAMPLE,01.01.03 01:08:15,50/50,Маня,4.00,29.06.2015 17:33:54,0.0723,0,765,765.000000,...,08.05.2015 14:07:38,0.000000,60,0,0,293.16,273.16,1,3.0,1
1,POINT,01.01.2003 1:11:59,01.01.2003 1:23:55,0.06,0.06,226,81.0000,1378,390,-0.001729,...,266.127,0.009506,0,0,0,1.00,1.00,1,NaN,0
2,POINT,01.01.2003 1:27:38,01.01.2003 1:37:42,0.09,0.09,224,118.0000,1871,387,0.001373,...,267.67,0.010730,0,0,0,2.00,1.00,1,NaN,0
3,POINT,01.01.2003 1:41:25,01.01.2003 1:51:06,0.15,0.15,223,104.0000,2157,401,0.000407,...,256.709,0.012920,0,0,0,3.00,1.00,1,NaN,0
4,POINT,01.01.2003 1:54:50,01.01.2003 2:05:35,0.2,0.20,222,81.0000,1590,389,-0.000203,...,256.265,0.014646,0,0,0,4.00,1.00,1,NaN,0
5,POINT,29.06.2015 12:26:05,29.06.2015 12:35:40,0.3,0.30,223,81.0000,2205,406,0.000661,...,212.358,0.019301,0,0,0,5.00,1.00,1,NaN,0
6,POINT,29.06.2015 12:39:24,29.06.2015 12:49:36,0.4,0.40,222,80.0000,2090,403,0.000661,...,183.534,0.025110,0,0,0,6.00,1.00,1,NaN,0
7,POINT,29.06.2015 12:53:19,29.06.2015 13:06:04,0.5,0.50,220,100.0000,2259,396,-0.000102,...,158.704,0.033454,0,0,0,7.00,1.00,1,NaN,0
8,POINT,29.06.2015 13:10:06,29.06.2015 13:20:01,0.6,0.60,229,80.0000,1696,395,0.002340,...,134.542,0.044382,0,0,0,8.00,1.00,1,NaN,0
9,POINT,29.06.2015 13:24:17,29.06.2015 13:37:07,0.7,0.70,227,96.0000,1763,413,-0.001272,...,113.827,0.064481,0,0,0,9.00,1.00,1,NaN,0
10,POINT,29.06.2015 13:40:56,29.06.2015 13:53:29,0.8,0.80,224,81.0000,1632,402,0.000051,...,82.0026,0.100880,0,0,0,10.00,1.00,1,NaN,0
11,POINT,29.06.2015 13:57:15,29.06.2015 14:06:28,0.9,0.90,223,81.0000,1759,410,0.001017,...,47.2706,0.214660,0,0,0,11.00,1.00,1,NaN,0
12,POINT,29.06.2015 14:10:12,29.06.2015 14:20:47,0.93,0.93,221,81.0000,1609,401,0.001068,...,34.2737,0.313260,0,0,0,12.00,1.00,1,NaN,0
13,POINT,29.06.2015 14:24:30,29.06.2015 14:33:36,0.95,0.95,220,81.0000,1353,428,0.000254,...,24.8692,0.425170,0,0,0,13.00,1.00,1,NaN,0
14,POINT,29.06.2015 14:37:20,29.06.2015 14:45:05,0.96,0.96,219,81.0000,1435,382,0.000356,...,19.819,0.528020,0,0,0,14.00,1.00,1,NaN,0
15,POINT,29.06.2015 14:48:48,29.06.2015 14:56:39,0.97,0.97,217,81.0000,1599,400,-0.000966,...,15.0014,0.732370,0,0,0,15.00,1.00,1,NaN,0
16,POINT,29.06.2015 15:00:22,29.06.2015 15:08:01,0.98,0.98,224,81.0000,1235,401,-0.000509,...,9.22205,1.095200,0,0,0,16.00,1.00,1,NaN,0
17,POINT,29.06.2015 15:13:48,29.06.2015 15:16:52,0.98,0.98,223,81.0000,1336,402,0.002441,...,10.0674,1.095200,0,0,0,17.00,1.00,1,NaN,1
18,POINT,29.06.2015 15:27:40,29.06.2015 15:30:44,0.97,0.97,222,81.0000,1599,405,-0.001170,...,16.5237,0.732370,0,0,0,18.00,1.00,1,NaN,1
19,POINT,29.06.2015 15:41:31,29.06.2015 15:44:44,0.96,0.96,221,81.0000,1623,407,0.001577,...,22.0538,0.528020,0,0,0,19.00,1.00,1,NaN,1
20,POINT,29.06.2015 15:55:31,29.06.2015 15:58:50,0.95,0.95,220,80.0000,1520,408,0.000966,...,27.2463,0.425170,0,0,0,20.00,1.00,1,NaN,1
21,POINT,29.06.2015 16:11:57,29.06.2015 16:15:30,0.93,0.93,228,81.0000,1638,423,0.000458,...,37.0873,0.313260,0,0,0,21.00,1.00,1,NaN,1
22,POINT,29.06.2015 16:26:23,29.06.2015 16:30:05,0.9,0.90,225,81.0000,1969,418,0.000102,...,50.5224,0.214660,0,0,0,22.00,1.00,1,NaN,1
23,POINT,29.06.2015 16:40:58,29.06.2015 16:44:27,0.8,0.80,223,81.0000,1804,418,0.001322,...,90.0049,0.100880,0,0,0,23.00,1.00,1,NaN,1
24,POINT,29.06.2015 16:57:01,29.06.2015 17:00:55,0.7,0.70,222,97.0000,1761,415,0.001272,...,119.425,0.064481,0,0,0,24.00,1.00,1,NaN,1
25,POINT,29.06.2015 17:14:16,29.06.2015 17:16:53,0.6,0.60,226,105.0000,1678,412,0.000458,...,141.268,0.044382,0,0,0,25.00,1.00,1,NaN,1
26,POINT,29.06.2015 17:29:44,29.06.2015 17:33:44,0.5,0.50,223,80.0000,1917,404,0.000865,...,157.203,0.033454,0,0,0,26.00,1.00,1,NaN,1
27,SAMPLE,01.01.03 00:59:05,50/50 С-60,Женя,4.00,01.01.2003 7:05:23,0.0720,0,765,765.000000,...,08.05.2015 14:07:38,0.000000,60,0,0,293.16,273.16,1,3.0,1
28,POINT,01.01.2003 1:07:51,01.01.2003 1:20:22,0.06,0.06,232,113.0000,2048,400,-0.001933,...,269.293,0.009506,0,0,0,1.00,1.00,1,NaN,0
29,POINT,01.01.2003 1:24:05,01.01.2003 1:34:49,0.09,0.09,228,103.0000,1808,404,0.000559,...,267.103,0.010730,0,0,0,2.00,1.00,1,NaN,0
30,POINT,01.01.2003 1:41:40,01.01.2003 1:51:54,0.15,0.15,225,81.0000,2070,414,-0.000916,...,255.046,0.012920,0,0,0,3.00,1.00,1,NaN,0
31,POINT,01.01.2003 1:55:37,01.01.2003 2:04:47,0.2,0.20,224,80.0000,1963,415,-0.002391,...,238.393,0.014646,0,0,0,4.00,1.00,1,NaN,0
32,POINT,01.01.2003 2:09:21,01.01.2003 2:19:00,0.3,0.30,222,113.0000,1991,415,0.001984,...,207.773,0.019301,0,0,0,5.00,1.00,1,NaN,0
33,POINT,01.01.2003 2:22:44,01.01.2003 2:34:29,0.4,0.40,221,104.0000,1684,415,0.001678,...,179.695,0.025110,0,0,0,6.00,1.00,1,NaN,0
34,POINT,01.01.2003 2:38:21,01.01.2003 2:49:28,0.5,0.50,219,80.0000,2044,403,-0.000203,...,153.482,0.033454,0,0,0,7.00,1.00,1,NaN,0
35,POINT,01.01.2003 2:53:11,01.01.2003 3:03:40,0.6,0.60,215,99.0000,1811,411,-0.000305,...,130.423,0.044382,0,0,0,8.00,1.00,1,NaN,0
36,POINT,01.01.2003 3:08:29,01.01.2003 3:19:23,0.7,0.70,226,81.0000,1871,410,0.001322,...,104.455,0.064481,0,0,0,9.00,1.00,1,NaN,0
37,POINT,01.01.2003 3:23:13,01.01.2003 3:33:20,0.8,0.80,223,81.0000,1799,424,-0.000661,...,77.459,0.100880,0,0,0,10.00,1.00,1,NaN,0
38,POINT,01.01.2003 3:37:04,01.01.2003 3:47:15,0.9,0.90,222,81.0000,1580,430,0.001119,...,43.8555,0.214660,0,0,0,11.00,1.00,1,NaN,0
39,POINT,01.01.2003 3:50:58,01.01.2003 4:00:06,0.93,0.93,221,93.0000,1709,427,-0.000153,...,31.6424,0.313260,0,0,0,12.00,1.00,1,NaN,0

In [5]:
indexes_of_expirements = np.where(submissions_data['Target']=="SAMPLE")
a =  submissions_data.index[-1] + 1
indexes = np.hstack((indexes_of_expirements[0], a))
indexes

array([  0,  27,  52,  78,  79,  80,  85,  88,  93,  94, 112, 138, 143,
       166, 190, 211, 219, 242, 267, 286])

In [6]:
samples = submissions_data.loc[indexes_of_expirements]
samples.columns = ["type", "create_time", "sample_name", "operator", "?", "??", 
        "mass", "vlazhnost'", "atmosphere_pressure", "atmosphere_pressure_1", "graduation_name", "0", "graduation_time",
        "??????", "summarnyy_raskhod", "idk", "idk1", "T, K", "273.16K", "1_1", "density", "L/D"]
samples.index = [x for x in range(len(samples))]
np.array(samples.sample_name)

array(['50/50 ', '50/50 С-60', '90/10', 'ГАП1', 'ГАП1', 'ГАП1', 'ГАП2',
       'ГАП-2', 'ГАП-1', '90%SiO2-10%SnO2', 'Старый 90%-10%+С60',
       'Катин н1', 'ГАП1', 'ГАП-1', '90/10+C60 NEW', '90-10 повтор',
       'бут_085а', '085', 'бут 085а_проверка'], dtype=object)

In [7]:
submissions_data[indexes[2]+1:indexes[3]]

,Target,start time,finish_time,P/P0,P/P0_1,?,peak_start,peak_finish,pick_max,??,...,S_of_pick,grad_koeff,idk,idk1,idk2,№_1,1,1_1,NaN,0_1
53,POINT,01.01.2003 1:26:41,01.01.2003 1:38:03,0.06,0.06,234,120.0,1432,394,-0.000712,...,253.823,0.009506,0,0,0,1.0,1.0,1,NaN,0
54,POINT,01.01.2003 1:41:46,01.01.2003 1:53:51,0.09,0.09,233,80.0,2706,398,0.002747,...,260.85,0.010730,0,0,0,2.0,1.0,1,NaN,0
55,POINT,01.01.2003 1:57:49,01.01.2003 2:10:42,0.15,0.15,229,112.0,2148,407,-0.001526,...,270.546,0.012920,0,0,0,3.0,1.0,1,NaN,0
56,POINT,01.01.2003 2:14:26,01.01.2003 2:23:52,0.2,0.20,226,112.0,2089,400,-0.001170,...,234.292,0.014646,0,0,0,4.0,1.0,1,NaN,0
57,POINT,01.01.2003 2:28:02,01.01.2003 2:37:13,0.3,0.30,225,107.0,1135,397,-0.001628,...,199.773,0.019301,0,0,0,5.0,1.0,1,NaN,0
58,POINT,01.01.2003 2:40:58,01.01.2003 2:51:20,0.4,0.40,223,81.0,1666,399,0.001272,...,176.997,0.025110,0,0,0,6.0,1.0,1,NaN,0
59,POINT,01.01.2003 2:55:03,01.01.2003 3:08:09,0.5,0.50,221,81.0,1732,421,-0.000407,...,153.951,0.033454,0,0,0,7.0,1.0,1,NaN,0
60,POINT,01.01.2003 3:12:46,01.01.2003 3:23:52,0.6,0.60,223,103.0,1932,410,0.000000,...,126.969,0.044382,0,0,0,8.0,1.0,1,NaN,0
61,POINT,01.01.2003 3:27:36,01.01.2003 3:38:58,0.7,0.70,221,81.0,2067,425,-0.003052,...,103.738,0.064481,0,0,0,9.0,1.0,1,NaN,0
62,POINT,01.01.2003 3:42:42,01.01.2003 3:52:47,0.8,0.80,218,80.0,1829,428,0.001526,...,75.2222,0.100880,0,0,0,10.0,1.0,1,NaN,0
63,POINT,01.01.2003 3:56:30,01.01.2003 4:06:18,0.9,0.90,217,81.0,1939,433,0.002441,...,43.3761,0.214660,0,0,0,11.0,1.0,1,NaN,0
64,POINT,01.01.2003 4:10:02,01.01.2003 4:18:42,0.93,0.93,215,81.0,1542,407,-0.000458,...,31.2703,0.313260,0,0,0,12.0,1.0,1,NaN,0
65,POINT,01.01.2003 4:22:47,01.01.2003 4:30:32,0.95,0.95,176,80.0,1619,431,-0.000254,...,22.4442,0.425170,0,0,0,13.0,1.0,1,NaN,0
66,POINT,01.01.2003 4:34:15,01.01.2003 4:43:03,0.96,0.96,230,80.0,1700,425,0.001373,...,19.8231,0.528020,0,0,0,14.0,1.0,1,NaN,0
67,POINT,01.01.2003 4:46:47,01.01.2003 4:55:51,0.97,0.97,227,81.0,1464,400,-0.000051,...,14.8607,0.732370,0,0,0,15.0,1.0,1,NaN,0
68,POINT,01.01.2003 5:01:20,01.01.2003 5:04:27,0.97,0.97,226,80.0,1299,408,0.000712,...,14.0322,0.732370,0,0,0,16.0,1.0,1,NaN,1
69,POINT,01.01.2003 5:15:14,01.01.2003 5:18:44,0.96,0.96,224,80.0,1712,397,-0.000203,...,22.7611,0.528020,0,0,0,17.0,1.0,1,NaN,1
70,POINT,01.01.2003 5:30:08,01.01.2003 5:33:35,0.95,0.95,223,81.0,1539,421,0.000610,...,27.9567,0.425170,0,0,0,18.0,1.0,1,NaN,1
71,POINT,01.01.2003 5:45:46,01.01.2003 5:49:11,0.93,0.93,221,80.0,1558,427,0.000661,...,36.4495,0.313260,0,0,0,19.0,1.0,1,NaN,1
72,POINT,01.01.2003 6:00:35,01.01.2003 6:03:52,0.9,0.90,220,81.0,1729,424,0.000865,...,47.9565,0.214660,0,0,0,20.0,1.0,1,NaN,1
73,POINT,01.01.2003 6:14:40,01.01.2003 6:18:34,0.8,0.80,217,81.0,1925,413,0.000051,...,80.8188,0.100880,0,0,0,21.0,1.0,1,NaN,1
74,POINT,01.01.2003 6:29:50,01.01.2003 6:33:32,0.7,0.70,216,97.0,1845,424,0.001577,...,107.649,0.064481,0,0,0,22.0,1.0,1,NaN,1
75,POINT,01.01.2003 6:47:05,01.01.2003 6:50:35,0.6,0.60,228,104.0,1672,422,0.000407,...,126.597,0.044382,0,0,0,23.0,1.0,1,NaN,1
76,POINT,01.01.2003 7:04:26,01.01.2003 7:08:29,0.5,0.50,226,112.0,2179,417,0.000051,...,152.215,0.033454,0,0,0,24.0,1.0,1,NaN,1
77,POINT,01.01.2003 7:23:49,01.01.2003 7:27:31,0.4,0.40,225,81.0,1864,410,0.000814,...,176.544,0.025110,0,0,0,25.0,1.0,1,NaN,1

In [8]:
samples.head(2)

,type,create_time,sample_name,operator,?,??,mass,vlazhnost',atmosphere_pressure,atmosphere_pressure_1,...,graduation_time,??????,summarnyy_raskhod,idk,idk1,"T, K",273.16K,1_1,density,L/D
0,SAMPLE,01.01.03 01:08:15,50/50,Маня,4.0,29.06.2015 17:33:54,0.0723,0,765,765.0,...,08.05.2015 14:07:38,0.0,60,0,0,293.16,273.16,1,3.0,1
1,SAMPLE,01.01.03 00:59:05,50/50 С-60,Женя,4.0,01.01.2003 7:05:23,0.0720,0,765,765.0,...,08.05.2015 14:07:38,0.0,60,0,0,293.16,273.16,1,3.0,1

In [14]:
samples.sample_name[0]

'50/50 '

In [15]:
for n in range (len(indexes)-1):
    exec('sample_' + '%s = submissions_data[indexes[%d]+1 : indexes[%d +1]]' % (n, n, n))

In [16]:
sample_0

,Target,start time,finish_time,P/P0,P/P0_1,?,peak_start,peak_finish,pick_max,??,...,S_of_pick,grad_koeff,idk,idk1,idk2,№_1,1,1_1,NaN,0_1
1,POINT,01.01.2003 1:11:59,01.01.2003 1:23:55,0.06,0.06,226,81.0,1378,390,-0.001729,...,266.127,0.009506,0,0,0,1.0,1.0,1,NaN,0
2,POINT,01.01.2003 1:27:38,01.01.2003 1:37:42,0.09,0.09,224,118.0,1871,387,0.001373,...,267.67,0.010730,0,0,0,2.0,1.0,1,NaN,0
3,POINT,01.01.2003 1:41:25,01.01.2003 1:51:06,0.15,0.15,223,104.0,2157,401,0.000407,...,256.709,0.012920,0,0,0,3.0,1.0,1,NaN,0
4,POINT,01.01.2003 1:54:50,01.01.2003 2:05:35,0.2,0.20,222,81.0,1590,389,-0.000203,...,256.265,0.014646,0,0,0,4.0,1.0,1,NaN,0
5,POINT,29.06.2015 12:26:05,29.06.2015 12:35:40,0.3,0.30,223,81.0,2205,406,0.000661,...,212.358,0.019301,0,0,0,5.0,1.0,1,NaN,0
6,POINT,29.06.2015 12:39:24,29.06.2015 12:49:36,0.4,0.40,222,80.0,2090,403,0.000661,...,183.534,0.025110,0,0,0,6.0,1.0,1,NaN,0
7,POINT,29.06.2015 12:53:19,29.06.2015 13:06:04,0.5,0.50,220,100.0,2259,396,-0.000102,...,158.704,0.033454,0,0,0,7.0,1.0,1,NaN,0
8,POINT,29.06.2015 13:10:06,29.06.2015 13:20:01,0.6,0.60,229,80.0,1696,395,0.002340,...,134.542,0.044382,0,0,0,8.0,1.0,1,NaN,0
9,POINT,29.06.2015 13:24:17,29.06.2015 13:37:07,0.7,0.70,227,96.0,1763,413,-0.001272,...,113.827,0.064481,0,0,0,9.0,1.0,1,NaN,0
10,POINT,29.06.2015 13:40:56,29.06.2015 13:53:29,0.8,0.80,224,81.0,1632,402,0.000051,...,82.0026,0.100880,0,0,0,10.0,1.0,1,NaN,0
11,POINT,29.06.2015 13:57:15,29.06.2015 14:06:28,0.9,0.90,223,81.0,1759,410,0.001017,...,47.2706,0.214660,0,0,0,11.0,1.0,1,NaN,0
12,POINT,29.06.2015 14:10:12,29.06.2015 14:20:47,0.93,0.93,221,81.0,1609,401,0.001068,...,34.2737,0.313260,0,0,0,12.0,1.0,1,NaN,0
13,POINT,29.06.2015 14:24:30,29.06.2015 14:33:36,0.95,0.95,220,81.0,1353,428,0.000254,...,24.8692,0.425170,0,0,0,13.0,1.0,1,NaN,0
14,POINT,29.06.2015 14:37:20,29.06.2015 14:45:05,0.96,0.96,219,81.0,1435,382,0.000356,...,19.819,0.528020,0,0,0,14.0,1.0,1,NaN,0
15,POINT,29.06.2015 14:48:48,29.06.2015 14:56:39,0.97,0.97,217,81.0,1599,400,-0.000966,...,15.0014,0.732370,0,0,0,15.0,1.0,1,NaN,0
16,POINT,29.06.2015 15:00:22,29.06.2015 15:08:01,0.98,0.98,224,81.0,1235,401,-0.000509,...,9.22205,1.095200,0,0,0,16.0,1.0,1,NaN,0
17,POINT,29.06.2015 15:13:48,29.06.2015 15:16:52,0.98,0.98,223,81.0,1336,402,0.002441,...,10.0674,1.095200,0,0,0,17.0,1.0,1,NaN,1
18,POINT,29.06.2015 15:27:40,29.06.2015 15:30:44,0.97,0.97,222,81.0,1599,405,-0.001170,...,16.5237,0.732370,0,0,0,18.0,1.0,1,NaN,1
19,POINT,29.06.2015 15:41:31,29.06.2015 15:44:44,0.96,0.96,221,81.0,1623,407,0.001577,...,22.0538,0.528020,0,0,0,19.0,1.0,1,NaN,1
20,POINT,29.06.2015 15:55:31,29.06.2015 15:58:50,0.95,0.95,220,80.0,1520,408,0.000966,...,27.2463,0.425170,0,0,0,20.0,1.0,1,NaN,1
21,POINT,29.06.2015 16:11:57,29.06.2015 16:15:30,0.93,0.93,228,81.0,1638,423,0.000458,...,37.0873,0.313260,0,0,0,21.0,1.0,1,NaN,1
22,POINT,29.06.2015 16:26:23,29.06.2015 16:30:05,0.9,0.90,225,81.0,1969,418,0.000102,...,50.5224,0.214660,0,0,0,22.0,1.0,1,NaN,1
23,POINT,29.06.2015 16:40:58,29.06.2015 16:44:27,0.8,0.80,223,81.0,1804,418,0.001322,...,90.0049,0.100880,0,0,0,23.0,1.0,1,NaN,1
24,POINT,29.06.2015 16:57:01,29.06.2015 17:00:55,0.7,0.70,222,97.0,1761,415,0.001272,...,119.425,0.064481,0,0,0,24.0,1.0,1,NaN,1
25,POINT,29.06.2015 17:14:16,29.06.2015 17:16:53,0.6,0.60,226,105.0,1678,412,0.000458,...,141.268,0.044382,0,0,0,25.0,1.0,1,NaN,1
26,POINT,29.06.2015 17:29:44,29.06.2015 17:33:44,0.5,0.50,223,80.0,1917,404,0.000865,...,157.203,0.033454,0,0,0,26.0,1.0,1,NaN,1

In [17]:
sample_0['S_of_pick'] = sample_0['S_of_pick'].astype(float).convert_dtypes()

<ipython-input-17-274af9e7b23f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_0['S_of_pick'] = sample_0['S_of_pick'].astype(float).convert_dtypes()

In [18]:
y_tips = np.array(sample_0['S_of_pick'], dtype=float) * np.array(sample_0['grad_koeff'], dtype=float)/samples['mass'][0]
x_tips = np.array(sample_0['P/P0'], dtype=float)
tips = pd.DataFrame(y_tips, x_tips)

In [19]:
sample_0['V'] = sample_0['S_of_pick'] * sample_0['grad_koeff'] / samples['mass'][0]

<ipython-input-19-6f54f01f00a0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_0['V'] = sample_0['S_of_pick'] * sample_0['grad_koeff'] / samples['mass'][0]

In [10]:
sns.set_style("ticks", {'xtick.color': '.0', 'ytick.color': '.0'})
g = sns.lmplot(x = 'P/P0_1', y = 'V', data = sample_0, hue='0_1',  height=3, aspect=4, legend=0, fit_reg = False, scatter_kws={"s": 50})
plt.title("Изотерма адсорбции", fontsize=18, bbox=dict(edgecolor='black', color='w'), horizontalalignment='center')
plt.ylabel('$V, mm^{3}$', rotation=0, fontsize=14, verticalalignment='top', horizontalalignment='right')
plt.xlabel('$p/p_{0}$', fontsize=16)
plt.xticks(np.arange(0, 1.1, step=0.1), fontsize=13)
plt.yticks(fontsize=13)
plt.grid(True, which=u'major', color='black', linewidth=1., linestyle='-')
g.savefig("C:\\Users\\travk\\Desktop\\Python_work\\Diplom\\data\\test.jpg")

NameError: name 'sample_0' is not defined

In [11]:
ax = g.fig.add_subplot(111)

for label in ax.xaxis.get_ticklabels():
    # label - это экземпляр текста Text
    label.set_color('red')
    label.set_rotation(-45)
    label.set_fontsize(15)

g

NameError: name 'g' is not defined

In [12]:
print(sns.axes_style())

{'axes.facecolor': 'white', 'axes.edgecolor': '.15', 'axes.grid': False, 'axes.axisbelow': True, 'axes.labelcolor': '.15', 'figure.facecolor': 'white', 'grid.color': '.8', 'grid.linestyle': '-', 'text.color': '.15', 'xtick.color': '.0', 'ytick.color': '.0', 'xtick.direction': 'out', 'ytick.direction': 'out', 'lines.solid_capstyle': 'round', 'patch.edgecolor': 'w', 'patch.force_edgecolor': True, 'image.cmap': 'rocket', 'font.family': ['sans-serif'], 'font.sans-serif': ['Arial', 'DejaVu Sans', 'Liberation Sans', 'Bitstream Vera Sans', 'sans-serif'], 'xtick.bottom': True, 'xtick.top': False, 'ytick.left': True, 'ytick.right': False, 'axes.spines.left': True, 'axes.spines.bottom': True, 'axes.spines.right': True, 'axes.spines.top': True}

In [13]:
import os
os.getcwd()

'/home/mikhail/Development/asrd/notebooks'